<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaze.rkdus.a2019_epis_tufu4">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".user.MenuActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".HospitalActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".JoinActivity"
            android:theme="@style/NoTheme"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".StatusActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.WhatIsRegActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.TypeActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.ReviseActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".CommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.MessageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.HowToRegActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.SearchActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".SelectPicActivity"
            android:theme="@style/NoTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gaze.rkdus.a2019_epis_tufu4"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".CachedFileProvider"
            android:authorities="com.stephendnicholas.gmailattach.provider"></provider>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!--
        에러나서 주석처리함
        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".NewReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".WaitReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".Reservation_v2_Activity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".FinishReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".WriteCommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ShowCommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".popup.MessagePopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".user.MyPageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".popup.NicnamePopupActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.HospitalProfileActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".popup.IndividualInfoPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".popup.PostCodePopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".user.UserLoginActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".popup.MapPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".popup.FilterPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".popup.ProxySignPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".popup.ProductPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".popup.ProductViewPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".popup.ImageTextPopupActivity"
            android:theme="@style/PopupTheme" />

        <service
            android:name=".user.ReservationCheckService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".popup.ManagementPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".user.SelectMessageTypeActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.VaccineMessageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".user.HealthCheckupMessageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".popup.ReviewPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".popup.SerialPopupActivity"
            android:theme="@style/PopupTheme"></activity>
    </application>

</manifest>