<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rkdus.a2019_epis_tufu4">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".AlarmActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".HospitalActivity"
            android:theme="@style/NoTheme" >
        </activity>
        <activity
            android:name=".JoinActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoTheme" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".StatusActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".TypeActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MyPageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ReviseActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".CommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MessageTypeActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MessageActivity"
            android:theme="@style/NoTheme" />
        <activity android:name=".TempActivity">

        </activity>
        <activity
            android:name=".RegInfoActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTheme" />
        <activity android:name=".SelectPicActivity">

        </activity>
    </application>

</manifest>