<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaze.rkdus.a2019_epis_tufu4">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MenuActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".HospitalActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".JoinActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".StatusActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".WhatIsRegActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".TypeActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ReviseActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".CommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MessageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".HowToRegActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".SelectPicActivity"
            android:theme="@style/NoTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gaze.rkdus.a2019_epis_tufu4"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".WaitReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".FilterPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".Reservation_v2_Activity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".FinishReservationActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".WriteCommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ShowCommunityActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".MessagePopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".MyPageActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".NicnamePopupActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".HospitalProfileActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndividualInfoPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".PostCodePopupActivity"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".UserLoginActivity"
            android:theme="@style/NoTheme" />
        <activity android:name=".MapPopupActivity" android:theme="@style/PopupTheme"></activity>
    </application>

</manifest>